div,body {
    background-color: #c7c7c7;
    box-sizing: border-box;
}


.flexbox {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border: 2px solid black;
    margin: 20px;
    height: 300px;
}

.flex-item {
    color: #Fff;
    font-size: 40px;
    background-color: #a22;
    text-align: center;
    flex: 1 1 100px;
}

.flex-item:first-child {

    background-color: #f77;
}

.flex-item:last-child {
    background-color: #111;
}

.item-5 {
    /* PROPIEDAD DEL PADRE PARA EL HIJO */
    /* Alinearse de forma diferente que su padre  */
    align-self: start;
}