body {
    margin: 0;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.bloque{
    display: inline-block;
    background-color: #7bf;
    padding: 10px;
    margin: 4px;
    width: 100%;
    flex: 1;
}