.flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid black;
    margin: 20px;
    height: 360px;
}

.flex-item {
    color: #Fff;
    font-size: 40px;
    background-color: #a22;
    text-align: center;
    width: 150px;
    height: 50px;
    /* Propiedad para cambiar el orden de los elementos */
    order: 3;
}

.flex-item:first-child {
    background-color: #f77;
    order: 2;
}

.flex-item:last-child {
    background-color: #111;
    order: 1;
}