body {
    background-color: #f1f1f1;
}

.box{
    margin: 20px;
    margin-left: 0;
    width: 100%;
    height: 300px;
    background-color: #dddb;
    background-image: url("https://content.elmueble.com/medio/2023/05/25/cachorros-de-labrador_1581ee18_230525142522_1000x667.jpg");
    /* valor para centrar */
    background-position: center;
    /* valor que se adapta al tamaño */
    background-size:cover;
    /* propiedad para la repeticion */
    background-repeat: no-repeat;
    /* 5hs attachment*/
    background-attachment: fixed;

    
}